
.Event{
  width : 1000px;
  height : auto;
  position : relative;
  display :flex;
  flex-wrap : wrap;
  align-items : flex-start;
  justify-content : flex-start;
  margin : 0 auto;
  top : 20px;
}

.Event_box {
  position : relative;
  width : 1000px;
  height : 400px;
  left : 0px;
  top : 45px;
  display : flex;
  flex-direction : row;
  flex-wrap : wrap;
  align-items : center;
  justify-content : space-evenly;
  table-layout : auto;
  margin : 0 auto;

 }

 .Eb1 {
   display : flex;
   flex-wrap : wrap;
   flex-direction: row;
   justify-content: space-around;
 }

 .Eb2 {
   display : flex;
   flex-wrap : wrap;
   flex-direction: column;
   justify-content: space-around;
 }

 .Eb3 {
   display : flex;
   flex-wrap : wrap;
   flex-direction: column;
   justify-content: space-around;
 }
 .event1 {
   width: 398px;
   height: 398px;
 }
 .event2 {
   width: 213px;
   height: 163px;
 }
 .event3 {
   margin-top: 22px;
   width: 213px;
   height: 213px;
 }
 .event4 {
   width: 321px;
   height: 213px;
 }
 .event5 {
   margin-top: 18px;
   width: 321px;
   height: 169px;
 }


