.Movie_img {
  position: relative;
  width: 233px;
  /* height: 226px; */   
  align-self: center;
}
.Detail_box{
  width: 1000px;
  height:600px;
  margin:0 auto;
  justify-content: space-between;
}
