.modal-container {
  width: 500px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;

  .row-1_2 {
    width: 49%;
  }
}
