.screen-box {
  position: absolute;
  top: 26%;
  left: 50%;
  width: 400px;
  background-color: black;
  text-align: center;
  letter-spacing: 5px;
  padding: 10px 0;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}
.seat-wrap {
  height: 100%;
  justify-content: center;
  .seat-row {
    justify-content: center;
    .seat {
      width: 15px;
      height: 15px;
      background-color: #000;
      // margin: 0 8px 8px 0;
      margin: 4px;
      cursor: pointer;
      display: inline-block;

      &:hover,
      &.selected {
        background-color: red;
      }
      &.disabled {
        pointer-events: none;
        opacity: 0.3;
      }
    }
  }
}

.info-seat {
  padding: 2px 4px;
  background-color: #4b4b4b;
}
