.Movie_list {
  display: flexbox;
}

.Title {
  /* text-align: center; */
  width: 1000px;
  height: 50px;
  margin: 0 auto;
}

.Moviecard_View {
  /* display: flexbox; */
  align-items: center;
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
}

.Moviecard_List {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

/* .Moviecard_List li {
  padding-left: 25px;
  padding-right: 25px;
} */

/*영화 카드 리스트*/
.Movie_box {
  display: flexbox;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

.Movie {
  width: 170px;
  height: 230px;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.Movie img {
  position: relative;
  width: 165px;
  height: 230px;
}

.Moviecard_Sub {
  display: none;
  position: absolute;
  padding: 0%;
  justify-content: center;
  align-items: center;
}

.Moviecard_Sub a {
  text-decoration: none;
  color: red;
}

/* .Moviecard_Sub li {
  margin: 10px;
  width: 100px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
} */
.Moviecard_Sub .movie-btn {
  margin: 5px 0;
  padding: 3px 24px;
  border: 1px solid black;
  border-radius: 5px;
}

.Movie:hover img {
  opacity: 0.5;
}

.Movie:hover ul {
  display: block;
  position: absolute;
}

.Movie_name {
  width: 170px;
  height: 25px;
}
