// .nav-wrap {
//   position: relative;
//   background: linear-gradient(
//     180deg,
//     rgba(0, 0, 0, 0.19) 0%,
//     rgba(255, 255, 255, 0) 100%
//   );
//   margin: 0%;
//   padding-left: 15%;
//   padding-right: 15%;
//   border-bottom: solid 1px #cbcaca;
//   .login_bar {
//     list-style-type: none;
//     font-size: 12px;
//     margin: 0%;
//     border-bottom: solid 1px #cbcaca;
//     text-align: right;
//     position: relative;
//   }
//   .login_bar a {
//     text-decoration: none;
//     color: black;
//   }
//   .login_bar li {
//     display: inline-block;
//     padding: 10px;
//     padding-top: 5px;
//     padding-bottom: 5px;
//   }
//   .Name {
//     padding: 1%;
//     margin: 0%;
//     text-align: center;
//     font-size: 36px;
//     font-family: "Courier New", Courier, monospace;
//     border-bottom: solid 1px #cbcaca;
//   }
//   .Name a {
//     text-decoration: none;
//     color: red;
//   }

//   .Nav_bar {
//     margin: 1%;
//     list-style-type: none;
//     text-align: center;
//     padding-left: 0%;
//   }
//   .Nav {
//     position: relative;
//     display: inline-block;
//     border-left: solid 1px #cbcaca;
//     width: 100px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//   }
//   nav ul li:first-child {
//     border-left: none;
//   }
//   .Sub_bar {
//     margin-top: 10px;
//     padding-left: 0;
//     list-style-type: none;
//     line-height: 20px;
//     display: none;
//     text-align: center;
//     z-index: 1;
//   }
//   .Sub {
//     width: 100px;
//     height: 20px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//   }
//   .Sub a {
//     text-decoration: none;
//     color: black;
//   }

//   .Nav:hover {
//     padding-bottom: 8px;
//     border-bottom: solid 2px red;
//   }
//   .Nav:hover ul {
//     background-color: white;
//     display: block;
//     position: absolute;
//   }
// }
.nav-container {
  /* position: relative; */
  width: 1000px;
  margin: 0 auto 50px auto;
  z-index: 10;

  .nav-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(196, 196, 196);

    .logo-wrap {
      img {
        width: 100px;
      }
    }

    .top-menu {
      display: flex;
      align-items: flex-end;
      li {
        padding: 3px;
      }
      & :not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  /*메뉴*/
  .nav-wrap {
    /* margin: 3%; */
    list-style-type: none;
    text-align: center;
    padding-left: 0%;
  }
  .nav-menu {
    display: inline-block;
    height: 35px;
    /* width: 100px; */
    /* padding: 10px 0; */
    /* border-left: solid 1px #CBCACA; */
  }
  .nav-link {
    display: inline-block;
    position: relative;
    padding: 9px 20px;
  }
  .nav-menu:not(:first-child)::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 1px;
    height: 11px;
    top: 0;
    background-color: rgb(196, 196, 196);
  }
  /* nav ul li:first-child{
    border-left: none;
  } */
  .sub-list {
    // display: none;
    visibility: hidden;
    opacity: 0;

    background-color: #00000010;
    position: absolute;
    left: 0;
    top: 105px;
    padding: 3px 0;

    width: 100%;
    transition: all 0.1s 0s ease-in-out;
  }
  .sub-item {
    /* width: 100px; */
    /*  */
    display: inline-block;
  }

  .sub-item a {
    transition: color 0.1s ease-in-out;
  }

  .sub-item:not(:last-child) {
    margin-right: 20px;
  }
  // hover
  .sub-item .sub-link:hover {
    color: #000;
  }

  /*오버*/
  .nav-menu:hover .nav-link::before,
  .sub-list:hover .nav-link::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    left: 7px;
    top: 34px;
    background-color: #000;
  }
  .nav-menu:hover .sub-list {
    // display: inline-block;
    visibility: visible;
    opacity: 1;
    transition: all 0.1s 0.1s ease-in-out;
    /* position:absolute; */
  }

  .Main {
    padding-left: 15%;
    padding-right: 15%;
  }
  /*영화카드*/
  .Card_list {
    margin: 0%;
    list-style-type: none;
    text-align: center;
    padding-left: 0%;
  }
  .Card_name {
    position: relative;
    display: inline-block;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
