@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.row-1_2 {
  width: 49%;
}

.fc-header-toolbar {
  position: sticky;
  background-color: #fff;
  top: 0px;
  z-index: 10;
}

.fc-timegrid thead{
  position: sticky;
  top: 39px;
  background-color: white;
  z-index: 10;
}