.selection-container {
  margin-top: 10px;
  height: 250px;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #00000012;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #0001045c;
    border: 2px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
  }
  .selection-item {
    width: 95%;
    cursor: pointer;
    padding: 5px 2px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
}
