.theater{
    /* display: flexbox; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 1000px;
    position: relative;
    margin: 0 auto;
}

.title{
    text-align: center;
    height: 100px;
}
.theater_view{
    display: flex;
    /* justify-content: space-evenly; */
}
.theater_box{
    /* display: flexbox; */
    text-align: center;
    margin-right: 10px;
}

.image{
    background-image: url("./theater.jpg");
    width : 300px;
    height : 200px;
}